--batch-mode
--update-snapshots
--show-version
--errors
--fail-at-end
-Dstyle.color=always
-Dorg.slf4j.simpleLogger.showDateTime=false
-Dorg.slf4j.simpleLogger.dateTimeFormat=yyyy-MM-dd_HH:mm:ss:SSSZ
-Dorg.slf4j.simpleLogger.showThreadName=false
-Dorg.slf4j.simpleLogger.defaultLogLevel=info
-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
-Dorg.slf4j.simpleLogger.log.me.qoomon.maven.gitversioning.GitVersioningModelProcessor=warn
-Dorg.slf4j.simpleLogger.log.org.apache.maven.plugins.enforcer.EnforceMojo=warn
-Dorg.slf4j.simpleLogger.showLogName=false
-Dorg.slf4j.simpleLogger.showShortLogName=false
